*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --white: #fff;
    --black: #000;
    --background-body: rgb(80, 80, 80);   
    --center-background: #FFFCE8;
    --footer-background: #8A817C;
    --red-button: #D64550;
    --validation-color: #7BB2D9;
}

body{
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

main{
    width: 100vw;
}

body main .container-top{
    width: 100vw;
    height: 16vw;
    background-color: var(--footer-background);
}

header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-header{
    margin-top: 1.2vw;
}

.img-header img{
    width: 8vw;
    cursor: pointer;
    transition: 1s;
}

.img-header img:hover{
    width: 8.8vw;
}


.hidden{
    display: none;
}

.menu nav{
    display: flex;
    align-items: baseline;
}

.menu-animate{
    margin-right: 3.2vw;
    display: flex;
    align-items: center;
}

.violaoIcon img{
    width: 3.2vw;
}


.menu nav li{
    list-style: none;
}

.menu nav li a{
    color: var(--white);
    font-size: 1.5vw;
    font-family: 'Permanent Marker', cursive;
}

.menu nav .menu-animate:nth-child(2) li a{
    color: var(--black);
}


/* container central */

.container-center{
    width: 100vw;
    height: 74.8vw;
    background-image: url(/images/sertanejo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
}

.head-form{
    margin: 0 auto;
    width: 90%;
    margin-top: 3.2vw;
    display: flex;
    flex-direction: column;
}

.head-form h2{
    font-size: 2.9vw;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 3.2vw;
    color: #fff;
}

.formulario-image{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    margin: 0 auto;
    width: 32.2vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label{
    width: 100%;
    font-size: 2.4vw;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

form input{
    width: 100%;
    height: 3.2vw;
    border-radius: 0.6vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    margin-bottom: 0.8vw;
    padding: 0.4vw 0.7vw 0.4vw 0.7vw;
    font-size: 1.6vw;
}

form textarea{
    margin-top: 2.4vw;
    width: 100%;
    max-width: 32.2vw;
    max-height: 12vw;
    min-width: 16.1vw;
    min-height: 6vw;
    font-size: 1.6vw;
    line-height: 2.4vw;
    padding: 0.4vw 0.7vw 0.4vw 0.7vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

form button{
    margin-top: 2.4vw;
    padding: 0.8vw 1.3vw;
    background-color: var(--red-button);
    transition: 0.5s;
}


/* imagem ao lado do formulário */

.imagem{
    width: 56.3vw;
    height: 48.3vw;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.background-image{
    width: 52.3vw;
    height: 52.3vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image .image-border{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
    opacity: 0.7;
}

.imagem .background-image .image-center{
    width: 48.3vw;   
    height: 48.3vw;
    border-radius: 50%;
    position: absolute;
}

.imagem .background-image .image-center img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: right top;
    transition: 2s;
}



/* footer */
footer{
    width: 100vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    justify-content: center;
}

.container-top-footer{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
}

.container-top-footer .text-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-top-footer .text-footer .container-left{
    display: flex;
    flex-direction: column;
}

.container-top-footer .text-footer .h3{
    font-size: 2.4vw;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
}

.container-top-footer .text-footer .contato-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-top-footer .text-footer .contato-footer img{
    width: 6.4vw;
    transition: 1s;
    cursor: pointer;
}

.container-top-footer .text-footer .contato-footer img:hover{
    width: 8vw;
}

.icons-footer{
    display: flex;
    align-items: center;
}

.icons-footer img{
    width: 2.4vw;
    margin-top: 2.4vw;
    border-radius: 9px;
    margin-right: 2.4vw;
    margin-bottom: 2.4vw;
    cursor: pointer;
}