*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --white: #fff;
    --black: #000;
    --background-body: rgb(80, 80, 80);   
    --center-background: #FFFCE8;
    --footer-background: #8A817C;
    --red-button: #D64550;
    --validation-color: #7BB2D9;
}

body{
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

main{
    width: 100vw;
}

body main .container-top{
    width: 100vw;
    height: 16vw;
    background-color: var(--footer-background);
}

header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-header{
    margin-top: 1.2vw;
}

.img-header img{
    width: 8vw;
    cursor: pointer;
    transition: 1s;
}

.img-header img:hover{
    width: 8.8vw;
}


.hidden{
    display: none;
}

.menu nav{
    display: flex;
    align-items: baseline;
}

.menu-animate{
    margin-right: 3.2vw;
    display: flex;
    align-items: center;
}

.violaoIcon img{
    width: 3.2vw;
}


.menu nav li{
    list-style: none;
}

.menu nav li a{
    color: var(--white);
    font-size: 1.5vw;
    font-family: 'Permanent Marker', cursive;
}

.menu nav .menu-animate:nth-child(3) li a{
    color: var(--black);
}


/* container central */

.container-center{
    width:  100vw;
    height: 139vw;
    background-image: url(/images/sertanejo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.backText{
    position: absolute;
    z-index: 2;
}

.one-text{
    font-size: 4vw;
    top: 1.4%;
    font-family: 'Hachi Maru Pop', cursive;
    color: #fff;
    transform: rotateZ(30deg);
}

.two-text{
    width: 16.3vw;
    font-size: 2.8vw;
    top: 30%;
    font-family: 'Hanalei', cursive;
    color: #fff;
}


.tree-text{
    font-size: 2vw;
    top: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    transform: rotateZ(-45deg);
}

.four-text{
    width: 24.1vw;
    font-size: 4.4vw;
    top: 88%;
    font-family: 'Sacramento', cursive;
    color: #fff;
}

.five-text{
    font-size: 3vw;
    top: 10%;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}

.six-text{
    font-size: 3.5vw;
    right: 10%;
    font-family: 'Hachi Maru Pop', cursive;
    color: #fff;
    transform: rotateZ(90deg);
}

.seven-text{
    font-size: 2vw;
    font-family: 'Hanalei', cursive;
    color: #fff;
}

.eight-text{
    width: 16.1vw;
    font-size: 1.2vw;
    top: 60%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}


.galeria{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.galeria h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.7vw;
    font-weight: 400;
    letter-spacing: 0.16vw;
    margin-top: 4vw;
    margin-bottom: 1.2vw;
}

.galeria h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    margin-bottom: 4vw;
    color: #575252;
}

.fotos{
    width: 100%;
    height: 96.6vw;
    background-image: url(/images/quadros.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.fotos img{
    z-index: 5;
}

#one{
    width: 19.708vw;
    height: 14.2vw;
    top: 1%;
    left: 38.1%;
    position: absolute;
    z-index: 4;
}

#two{
    width: 11.15vw;
    height: 15.8vw;
    top: 32.3%;
    position: absolute;
    left: 0.65%;
    object-fit: cover;
    object-position: 40%;
    z-index: 4;
}

#tree{
    width: 18.4vw;
    height: 26.8vw;
    top: 19.7%;
    left: 38.72%;
    position: absolute;
    z-index: 4;
}

#four{
    width: 20vw;
    height: 14.25vw;
    top: 51.6%;
    left: 37.75%;
    position: absolute;
    z-index: 4;
}

#five{
    width: 11.1vw;
    height: 15.75vw;
    top: 32.3%;
    left: 86.8%;
    position: absolute;
    object-fit: cover;
    object-position: 40%;
    z-index: 4;
}

#six{
    width: 14.03vw;
    height: 19.8vw;
    top: 30.555%;
    left: 18.35%;
    position: absolute;
    object-fit: cover;
    z-index: 4;
}

#seven{
    width: 15.92vw;
    height: 11.2vw;
    top: 69.8%;
    left: 40.01%;
    position: absolute;
    object-fit: cover;
    z-index: 4;
}

#eight{
    width: 10.9vw;
    height: 15.59vw;
    top: 9.1%;
    left: 66.79%;
    position: absolute;
    object-fit: cover;
    object-position: 40%;
    z-index: 4;
}

#nine{
    width: 13.8vw;
    height: 19.8vw;
    top: 30.47%;
    left: 65.25%;
    position: absolute;
    object-fit: cover;
    z-index: 4;
}

#ten{
    width: 11.2vw;
    height: 15.8vw;
    top: 10.13%;
    left: 19.98%;
    position: absolute;
    object-fit: cover;
    z-index: 4;
}

#eleven{
    width: 11.2vw;
    height: 15.54vw;
    top: 55.56%;
    left: 66.55%;
    position: absolute;
    object-fit: cover;
    object-position: 40%;
    z-index: 4;
}

#twelve{
    width: 10.7vw;
    height: 15.69vw;
    top: 54.43%;
    left: 20.35%;
    position: absolute;
    object-fit: cover;
    z-index: 4;
}



/* footer */
footer{
    width: 100vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    justify-content: center;
}

.container-top-footer{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
}

.container-top-footer .text-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-top-footer .text-footer .container-left{
    display: flex;
    flex-direction: column;
}

.container-top-footer .text-footer .h3{
    font-size: 2.4vw;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
}

.container-top-footer .text-footer .contato-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-top-footer .text-footer .contato-footer img{
    width: 6.4vw;
    transition: 1s;
    cursor: pointer;
}

.container-top-footer .text-footer .contato-footer img:hover{
    width: 8vw;
}

.icons-footer{
    display: flex;
    align-items: center;
}

.icons-footer img{
    width: 2.4vw;
    margin-top: 2.4vw;
    border-radius: 9px;
    margin-right: 2.4vw;
    margin-bottom: 2.4vw;
    cursor: pointer;
}