*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --white: #fff;
    --black: #000;
    --background-body: rgb(80, 80, 80);   
    --center-background: #FFFCE8;
    --footer-background: #8A817C;
    --red-button: #D64550;
    --validation-color: #7BB2D9;
}


@media only screen and (min-width: 901px){
    .container-top-footer .text-footer .contato-footer h4{
        display: none;
        }
    
        .clean{
            display: none;
        }
}

@media only screen and (max-width: 900px){
    body{
        margin: 0 auto;
        width: 100vw;
    }
    
    main{
        width: 100vw;
    }
    
    body main .container-top{
        width: 100vw;
        height: 24.1vw;
        background-color: var(--footer-background);
    }
    
    .img-header{
        margin-top: 2.4vw;
    }
    
    .img-header img{
        width: 12vw;
    }

    .hidden{
        display: none;
    }
    
    .menu nav{
        display: flex;
        align-items: baseline;
    }
    
    .menu-animate{
        margin-right: 4vw;
        display: flex;
        align-items: center;
    }
    
    
    .violaoIcon img{
        width: 5.6vw;
    }
    
    
    .menu nav li a{
        color: var(--white);
        font-size: 2.5vw;
        font-family: 'Permanent Marker', cursive;
    }


    /* container-center */
    .container-center{
        width: 100vw;
    }
    



    /* footer */
    footer{
        width: 100vw;
        height: 64.4vw;
        display: flex;
        flex-direction: column;
        background-color: var(--footer-background);
        justify-content: center;
    }

    .container-top-footer{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-top-footer .text-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .container-top-footer .text-footer .container-left{
        display: flex;
        flex-direction: column;
    }

    .container-top-footer .text-footer .h3{
        font-size: 3.3vw;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 2.4vw;
    }

    .container-top-footer .text-footer .container-left .contato-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4vw;
    }

    .container-top-footer .text-footer .container-left .h3{
        font-size: 3.3vw;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 2.4vw;
    }

    .container-top-footer .text-footer .contato-footer h4{
        font-size: 3.3vw;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 4vw;
    }



    .container-top-footer .text-footer .container-left .contato-footer img{
        width: 12vw;
        transition: 1s;
        cursor: pointer;
        margin-bottom: 4vw;
    }

    .container-top-footer .text-footer .container-left .contato-footer img:hover{
        width: 13.6vw;
    }

    .icons-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons-footer img{
        width: 4.8vw;
        margin-top: 4vw;
        border-radius: 9px;
        margin-right: 3.2vw;
        margin-bottom: 4vw;
        cursor: pointer;
    }

    footer .container-top-footer .text-footer .remove{
        display: none;
    }
    .remove{
        display: none;
    }
}

