*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --white: #fff;
    --black: #000;
    --background-body: rgb(80, 80, 80);   
    --center-background: #FFFCE8;
    --footer-background: #8A817C;
}

@media only screen and (max-width: 900px){
    body{
        margin: 0 auto;
        width: 900px;
    }
    
    main{
        width: 900px;
    }
    
    /* header e container da dupla */
    .container-top{
        width: 900px;
        height: 1450px;
        position: relative;
    }
    
    .container-top .img-background{
        width: 100%;
        height: 1450px;
        filter: brightness(30%);
        object-fit: cover;
    }
    
    
    .img-header{
        margin-top: 30px;
    }
    
    .img-header img{
        width: 150px;
    }

    .hidden{
        display: none;
    }
    
    .menu nav{
        display: flex;
        align-items: baseline;
    }
    
    .menu-animate{
        margin-right: 50px;
        display: flex;
        align-items: center;
    }
    
    
    .violaoIcon img{
        width: 70px;
    }
    
    
    .menu nav li a{
        color: var(--white);
        font-size: 32px;
        font-family: 'Permanent Marker', cursive;
    }
    
    .background-tholy{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 5%;
    }
    
    .background-tholy .icons{
        width: 380px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-left: 0;
    }
    
    .iconsImgBlank{
        opacity: 0;
    }
    
    .background-tholy .icons img{
        width: 90px;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    
    .background-tholy .icons img:nth-child(1){
        filter: brightness(70%);
    }
    
    .background-tholy .icons img:nth-child(3){
        border-radius: 9px;
    }
    
    .background-tholy .icons img:hover{
        filter: brightness(150%);
    }   

    .background-tholy .image-dupla{
        width: 500px;
        height: 450px;
        overflow: hidden;
    }
    
    .background-tholy img{
        width: 500px;
        filter: brightness(30%);
    }
    
    
    /* video */
    
    .media{
        width: 900px;
        height: 1380px;
        background-color: var(--center-background);
    }
    
    .media .container-video-text{
        margin: 0 auto;
        width: 90%;
        height: 1380px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .videoPlayer{
        margin: 0 auto;
        width: 80%;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    
    .videoPlayer video{
        width: 100%;
        height: 100%;
        border-radius: 7px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        object-fit: cover; 
    }
    
    
    /* texto ao lado do video */
    .text-video{
        width: 90%;
        height: 550px;
        flex: 1;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .text-video h2{
        font-size: 45px;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 80px;
        margin-bottom: 80px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .text-video p{
        font-size: 37px;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: capitalize;
        text-align: center;
    }
    
    .text-video h3{
        font-size: 40px;
        font-weight: 400;
        margin-top: 50px;
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: capitalize;
        text-align: center;
    }
    
    
    
    
    
    /* footer */
    footer{
        width: 900px;
        height: 800px;
        display: flex;
        flex-direction: column;
        background-color: var(--footer-background);
        justify-content: center;
    }
    
    .container-top-footer{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-top-footer .text-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .container-top-footer .text-footer .container-left{
        display: flex;
        flex-direction: column;
    }
    
    .container-top-footer .text-footer .h3{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 30px;
    }
    
    .container-top-footer .text-footer .container-left .contato-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .container-top-footer .text-footer .container-left .h3{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 30px;
    }

    .container-top-footer .text-footer .contato-footer h4{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 50px;
    }


    
    .container-top-footer .text-footer .container-left .contato-footer img{
        width: 150px;
        transition: 1s;
        cursor: pointer;
        margin-bottom: 50px;
    }
    
    .container-top-footer .text-footer .container-left .contato-footer img:hover{
        width: 170px;
    }
    
    .icons-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icons-footer img{
        width: 60px;
        margin-top: 50px;
        border-radius: 9px;
        margin-right: 40px;
        margin-bottom: 50px;
        cursor: pointer;
    }
    
    footer .container-top-footer .text-footer .remove{
        display: none;
    }
}

@media only screen and (min-width: 901px){
    .container-top-footer .text-footer .contato-footer h4{
        display: none;
    }
}




@media only screen and (min-width: 1381px) and (max-width: 1600px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    
    main{
        width: 100vw;
    }
    
    /* header e container da dupla */
    .container-top{
        width: 100vw;
        height: 64.5vw;
        overflow: hidden;
    }
    
    .container-top .img-background{
        width: 100%;
        height: 100%;
    }
    
    .img-header{
        margin-top: 2.8vw;
    }
    
    .img-header img{
        width: 8vw;
    }
    
    
    .menu-animate{
        margin-right: 3.2vw;
    }
    
    .violaoIcon img{
        width: 3.2vw;
    }
    
    .menu nav li a{
        font-size: 1.5vw;
    }

    
    .background-tholy .icons{
        width: 22.5vw;
        margin-left: 6vw;
    }
    
    .background-tholy .icons img{
        width: 4vw;
        margin-bottom: 3vw;
    }
    
    .background-tholy .icons img:nth-child(3){
        border-radius: 0.7vw;
    }
    
    .background-tholy .image-dupla{
        width: 800px;
        height: 520px;
    }
    
    .background-tholy img{
        width: 550px;

    }
    
    
   /* video */
    
   .media{
    width: 100vw;
    height: 100%;
    }

    .media .container-video-text{
        height: 40vw;
    }

    .videoPlayer{
        width: 55%;
        height: 95%;
    }

    .videoPlayer video{
        width: 75%;
        height: 70%;
        border-radius: 0.5vw;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
    }


    /* texto ao lado do video */
    .text-video{
    width: 60%;
    height: 70%;

    }

    .text-video h2{
        font-size: 2.8vw;
        margin-top: 2vw;
        margin-bottom: 3.5vw;
    }

    .text-video p{
        font-size: 2.1vw;
    }

    .text-video h3{
        font-size: 2.4vw;
        margin-top: 3.5vw;
        margin-bottom: 3vw;
    }
    
    
    
    
    
    /* footer */
    footer{
        width: 100vw;
        height: 18.5vw;
        display: flex;
    }
    
    .container-top-footer .text-footer .h3{
        font-size: 2.4vw;
        margin-bottom: 0.8vw;
    }
    
    
    .container-top-footer .text-footer .contato-footer img{
        width: 6.4vw;
    }
    
    .container-top-footer .text-footer .contato-footer img:hover{
        width: 8vw;
    }

    .icons-footer img{
        width: 2.4vw;
        margin-top: 2.4vw;
        border-radius: 0.8vw;
        margin-right: 2.4vw;
        margin-bottom: 2.4vw;
    }

} 


@media only screen and (min-width: 1601px) and (max-width: 2000px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    
    main{
        width: 100vw;
    }
    
    /* header e container da dupla */
    .container-top{
        width: 100vw;
        height: 64.5vw;
        overflow: hidden;
    }
    
    .container-top .img-background{
        width: 100%;
        height: 100%;
    }
    
    .img-header{
        margin-top: 2.8vw;
    }
    
    .img-header img{
        width: 8vw;
    }
    
    
    .menu-animate{
        margin-right: 3.2vw;
    }
    
    .violaoIcon img{
        width: 3.2vw;
    }
    
    .menu nav li a{
        font-size: 1.5vw;
    }

    
    .background-tholy .icons{
        width: 22.5vw;
        margin-left: 5vw;
    }
    
    .background-tholy .icons img{
        width: 4vw;
        margin-bottom: 3vw;
    }
    
    .background-tholy .icons img:nth-child(3){
        border-radius: 0.7vw;
    }
    
    .background-tholy .image-dupla{
        width: 800px;
        height: 650px;
    }
    
    .background-tholy img{
        width: 700px;

    }
    
    
    /* video */
    
    .media{
        width: 100vw;
        height: 100%;
    }
    
    .media .container-video-text{
        height: 40vw;
    }
    
    .videoPlayer{
        width: 55%;
        height: 95%;
    }
    
    .videoPlayer video{
        width: 75%;
        height: 70%;
        border-radius: 0.5vw;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
    }
    
    
   /* texto ao lado do video */
   .text-video{
    width: 60%;
    height: 70%;

    }

    .text-video h2{
        font-size: 2.8vw;
        margin-top: 2vw;
        margin-bottom: 3.5vw;
    }

    .text-video p{
        font-size: 2.1vw;
    }

    .text-video h3{
        font-size: 2.4vw;
        margin-top: 3.5vw;
        margin-bottom: 3vw;
    }
    
    
    
    
    
    /* footer */
    footer{
        width: 100vw;
        height: 18.5vw;
        display: flex;
    }
    
    .container-top-footer .text-footer .h3{
        font-size: 2.4vw;
        margin-bottom: 0.8vw;
    }
    
    
    .container-top-footer .text-footer .contato-footer img{
        width: 6.4vw;
    }
    
    .container-top-footer .text-footer .contato-footer img:hover{
        width: 8vw;
    }

    .icons-footer img{
        width: 2.4vw;
        margin-top: 2.4vw;
        border-radius: 0.8vw;
        margin-right: 2.4vw;
        margin-bottom: 2.4vw;
    }

} 


@media only screen and (min-width: 2001px) and (max-width: 2500px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    
    main{
        width: 100vw;
    }
    
    /* header e container da dupla */
    .container-top{
        width: 100vw;
        height: 64.5vw;
        overflow: hidden;
    }
    
    .container-top .img-background{
        width: 100%;
        height: 100%;
    }
    
    .img-header{
        margin-top: 2.8vw;
    }
    
    .img-header img{
        width: 8vw;
    }
    
    
    .menu-animate{
        margin-right: 3.2vw;
    }
    
    .violaoIcon img{
        width: 3.2vw;
    }
    
    .menu nav li a{
        font-size: 1.5vw;
    }

    
    .background-tholy .icons{
        width: 23.5vw;
        margin-left: 5vw;
    }
    
    .background-tholy .icons img{
        width: 4vw;
        margin-bottom: 3vw;
    }
    
    .background-tholy .icons img:nth-child(3){
        border-radius: 0.7vw;
    }
    
    .background-tholy .image-dupla{
        width: 810px;
        height: 810px;
    }
    
    .background-tholy img{
        width: 830px;

    }
    
    
    /* video */
    
    .media{
        width: 100vw;
        height: 100%;
    }
    
    .media .container-video-text{
        height: 40vw;
    }
    
    .videoPlayer{
        width: 55%;
        height: 95%;
    }
    
    .videoPlayer video{
        width: 75%;
        height: 70%;
        border-radius: 0.5vw;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
    }
    
    
   /* texto ao lado do video */
   .text-video{
    width: 60%;
    height: 70%;

    }

    .text-video h2{
        font-size: 2.8vw;
        margin-top: 2vw;
        margin-bottom: 3.5vw;
    }

    .text-video p{
        font-size: 2.1vw;
    }

    .text-video h3{
        font-size: 2.4vw;
        margin-top: 3.5vw;
        margin-bottom: 3vw;
    }
    
    
    
    
    
    /* footer */
    footer{
        width: 100vw;
        height: 18.5vw;
        display: flex;
    }
    
    .container-top-footer .text-footer .h3{
        font-size: 2.4vw;
        margin-bottom: 0.8vw;
    }
    
    
    .container-top-footer .text-footer .contato-footer img{
        width: 6.4vw;
    }
    
    .container-top-footer .text-footer .contato-footer img:hover{
        width: 8vw;
    }

    .icons-footer img{
        width: 2.4vw;
        margin-top: 2.4vw;
        border-radius: 0.8vw;
        margin-right: 2.4vw;
        margin-bottom: 2.4vw;
    }

} 

@media only screen and (min-width: 2501px){
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    
    main{
        width: 100vw;
    }
    
    /* header e container da dupla */
    .container-top{
        width: 100vw;
        height: 64.5vw;
        overflow: hidden;
    }
    
    .container-top .img-background{
        width: 100%;
        height: 100%;
    }
    
    .img-header{
        margin-top: 2.8vw;
    }
    
    .img-header img{
        width: 8vw;
    }
    
    
    .menu-animate{
        margin-right: 3.2vw;
    }
    
    .violaoIcon img{
        width: 3.2vw;
    }
    
    .menu nav li a{
        font-size: 1.5vw;
    }
    
    
    .background-tholy .icons{
        width: 22.5vw;
        margin-left: 5vw;
    }
    
    .background-tholy .icons img{
        width: 4vw;
        margin-bottom: 3vw;
    }
    
    .background-tholy .icons img:nth-child(3){
        border-radius: 0.7vw;
    }
    
    .background-tholy .image-dupla{
        width: 40vw;
        height: 36vw;
    }
    
    .background-tholy img{
        width: 37vw;

    }
    
    
    /* video */
    
    .media{
        width: 100vw;
        height: 100%;
        
    }
    
    .media .container-video-text{
        height: 90%;
        justify-content: center;
    }
    
    .videoPlayer{
        width: 55%;
        height: 95%;
    }
    
    .videoPlayer video{
        width: 75%;
        height: 70%;
        border-radius: 0.5vw;
        border-top-left-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
        border-bottom-left-radius: 0.5vw;
        border-bottom-right-radius: 0.5vw;
    }
    
    
    /* texto ao lado do video */
    .text-video{
        width: 60%;
        height: 70%;

    }
    
    .text-video h2{
        font-size: 2.8vw;
        margin-top: 3.5vw;
        margin-bottom: 3.5vw;
    }
    
    .text-video p{
        font-size: 2.1vw;
    }
    
    .text-video h3{
        font-size: 2.4vw;
        margin-top: 3.5vw;
        margin-bottom: 3vw;
    }
    
    
    
    /* footer */
    footer{
        width: 100vw;
        height: 18.5vw;
        display: flex;
    }
    
    .container-top-footer .text-footer .h3{
        font-size: 2.4vw;
        margin-bottom: 0.8vw;
    }
    
    
    .container-top-footer .text-footer .contato-footer img{
        width: 6.4vw;
    }
    
    .container-top-footer .text-footer .contato-footer img:hover{
        width: 8vw;
    }

    .icons-footer img{
        width: 2.4vw;
        margin-top: 2.4vw;
        border-radius: 0.8vw;
        margin-right: 2.4vw;
        margin-bottom: 2.4vw;
    }

} 