@media only screen and (max-width: 900px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    :root{
        --white: #fff;
        --black: #000;
        --background-body: rgb(80, 80, 80);   
        --center-background: #FFFCE8;
        --footer-background: #8A817C;
        --red-button: #D64550;
        --validation-color: #7BB2D9;
    }

    body{
        margin: 0 auto;
        width: 900px;
    }
    
    main{
        width: 900px;
    }
    
    body main .container-top{
        width: 900px;
        height: 300px;
        background-color: var(--footer-background);
    }
    
    .img-header{
        margin-top: 30px;
    }
    
    .img-header img{
        width: 150px;
    }

    .hidden{
        display: none;
    }
    
    .menu nav{
        display: flex;
        align-items: baseline;
    }
    
    .menu-animate{
        margin-right: 50px;
        display: flex;
        align-items: center;
    }
    
    
    .violaoIcon img{
        width: 70px;
    }
    
    
    .menu nav li a{
        color: var(--white);
        font-size: 32px;
        font-family: 'Permanent Marker', cursive;
    }
    
    /* container central */
    
    .container-center{
        width: 900px;
        height: 7800px;
        background-image: url(/images/sertanejo.jpg);
        background-repeat: repeat;
        background-size: 100%;
        object-fit: cover;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    
    .backText{
        position: absolute;
        z-index: 2;
    }
    
    .one-text{
        font-size: 50px;
        top: 1.4%;
        font-family: 'Hachi Maru Pop', cursive;
        color: #fff;
        transform: rotateZ(30deg);
    }
    
    .two-text{
        width: 203px;
        font-size: 35px;
        top: 30%;
        font-family: 'Hanalei', cursive;
        color: #fff;
    }
    
    
    .tree-text{
        font-size: 25px;
        top: 100%;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        transform: rotateZ(-45deg);
    }
    
    .four-text{
        width: 300px;
        font-size: 55px;
        top: 88%;
        font-family: 'Sacramento', cursive;
        color: #fff;
    }
    
    .five-text{
        font-size: 38px;
        top: 10%;
        font-family: 'Dancing Script', cursive;
        color: #fff;
    }
    
    .six-text{
        font-size: 44px;
        right: 10%;
        font-family: 'Hachi Maru Pop', cursive;
        color: #fff;
        transform: rotateZ(90deg);
    }
    
    .seven-text{
        font-size: 25px;
        font-family: 'Hanalei', cursive;
        color: #fff;
    }
    
    .eight-text{
        width: 200px;
        font-size: 15px;
        top: 60%;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
    }
    
    
    .galeria{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }
    
    .galeria h2{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 80px;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 200px;
        margin-bottom: 15px;
    }
    
    .galeria h3{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 55px;
        font-weight: 400;
        margin-bottom: 50px;
        color: #575252;
    }
    
    .fotos{
        margin: 0 auto;
        width: 100%;
        height: 7200px;
        display: flex;
        background-image: none;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;
    }
    .fotos .box{
        margin: 0 auto;
        width: 810px;
    }

    .quadro{
        width: 100%;
        height: 560px;
        margin-bottom: 35px;
        z-index: 10;
        filter: drop-shadow(0 0 5rem #000);
    }
    .quadro:nth-child(1){
        margin-top: 150px;
    }
    
    .fotos img{
        z-index: 5;
    }
    
    #one{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 3.15%;
        left: 10.48%;
        z-index: 4;
        
    }
    #two{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 11.5%;
        left: 10.48%;
        object-fit: cover;
        object-position: 40%;
    }
    
    #tree{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 19.8%;
        left: 10.48%;
        object-fit: cover;
        object-position: top;
    }
    
    #four{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 28.17%;
        left: 10.48%;
    }
    
    #five{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 36.5%;
        left: 10.45%;
        object-fit: cover;
        object-position: 40%;
    }
    
    #six{
        width: 636px;
        height: 405px;
        position: absolute;
        object-fit: cover;
        top: 44.8%;
        left: 10.45%;
        object-fit: cover;
        object-position: top;
    }
    
    #seven{
        width: 636px;
        height: 405px;
        position: absolute;
        object-fit: cover;
        top: 53.15%;
        left: 10.45%;
    }
    
    #eight{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 61.47%;
        left: 10.45%;
        object-fit: cover;
        object-position: 40%;
    }
    
    #nine{
        width: 636px;
        height: 405px;
        position: absolute;
        object-fit: cover;
        top: 69.8%;
        left: 10.45%;
        object-fit: cover;
        object-position: top;
    }
    
    #ten{
        width: 636px;
        height: 405px;
        position: absolute;
        object-fit: cover;
        top: 78.15%;
        left: 10.45%;
    }
    
    #eleven{
        width: 636px;
        height: 405px;
        position: absolute;
        top: 86.47%;
        left: 10.45%;
        object-fit: cover;
        object-position: 40%;
        z-index: 4;
    }
    
    #twelve{
        width: 636px;
        height: 405px;
        position: absolute;
        object-fit: cover;
        top: 94.8%;
        left: 10.45%;
        object-fit: cover;
        object-position: top;
    }
    



    /* footer */
    footer{
        width: 900px;
        height: 800px;
        display: flex;
        flex-direction: column;
        background-color: var(--footer-background);
        justify-content: center;
    }

    .container-top-footer{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-top-footer .text-footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .container-top-footer .text-footer .container-left{
        display: flex;
        flex-direction: column;
    }

    .container-top-footer .text-footer .h3{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 30px;
    }

    .container-top-footer .text-footer .container-left .contato-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .container-top-footer .text-footer .container-left .h3{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-bottom: 30px;
    }

    .container-top-footer .text-footer .contato-footer h4{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 50px;
    }



    .container-top-footer .text-footer .container-left .contato-footer img{
        width: 150px;
        transition: 1s;
        cursor: pointer;
        margin-bottom: 50px;
    }

    .container-top-footer .text-footer .container-left .contato-footer img:hover{
        width: 170px;
    }

    .icons-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons-footer img{
        width: 60px;
        margin-top: 50px;
        border-radius: 9px;
        margin-right: 40px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    footer .container-top-footer .text-footer .remove{
        display: none;
    }
    .remove{
        display: none;
    }
}

@media only screen and (min-width: 901px){
.container-top-footer .text-footer .contato-footer h4{
    display: none;
    }

    .clean{
        display: none;
    }
}

@media only screen and (min-width: 1381px){
    body{
        width: 100vw;
    }
    
    main{
        width: 100vw;
    }
    
    body main .container-top{
        width: 100vw;
        height: 100%;
    }
    
    
    .img-header{
        margin-top: 1.2vw;
    }
    
    .img-header img{
        width: 8vw;
        margin-bottom: 1.2vw;
    }
    
    .img-header img:hover{
        width: 8.8vw;
    }
    
    
    .menu-animate{
        margin-right: 3.2vw;
    }
    
    .violaoIcon img{
        width: 3.2vw;
    }
    
    
    .menu nav li a{
        font-size: 1.5vw;
    }
    
    
    /* container central */
    
    .container-center{
        width: 100vw;
        height: 139vw;
    }

    .one-text{
        font-size: 4vw;
    }
    
    .two-text{
        width: 18vw;
        font-size: 2.8vw;
    }
    
    
    .tree-text{
        font-size: 2vw;
    }
    
    .four-text{
        width: 24.1vw;
        font-size: 4.4vw;
    }
    
    .five-text{
        font-size: 2.8vw;
    }
    
    .six-text{
        font-size: 3.5vw;
    }
    
    .seven-text{
        font-size: 2vw;
    }
    
    .eight-text{
        width: 16vw;
        font-size: 1.2vw;
    }
    
    .galeria h2{
        font-size: 3.7vw;
        margin-top: 4.2vw;
        margin-bottom: 1.2vw;
    }
    
    .galeria h3{
        font-size: 2.8vw;
        margin-bottom: 4.2vw;
    }
    
    .fotos{
        width: 100%;
        height: 96.6vw;
    }

    
    #one{
        width: 19.7vw;
        height: 14vw;
        top: 1%;
        left: 38.1%;
    }

    #two{
        width: 11.15vw;
        height: 15.8vw;
        top: 32.3%;
    }
    
    #tree{
        width: 18.4vw;
        height: 26.8vw;
        top: 19.7%;
        left: 38.74%;
    }
    
    #four{
        width: 20vw;
        height: 14.25vw;
        top: 51.6%;
        left: 37.75%;
    }
    
    #five{
        width: 11.1vw;
        height: 15.75vw;
        top: 32.3%;
        left: 86.8%;
    }
    
    #six{
        width: 14.03vw;
        height: 19.8vw;
        top: 30.555%;
        left: 18.35%;
    }
    
    #seven{
        width: 15.92vw;
        height: 11.2vw;
        top: 69.8%;
        left: 40.01%;
    }
    
    #eight{
        width: 10.861vw;
        height: 15.59vw;
        top: 9.1%;
        left: 66.769%;
    }
    
    #nine{
        width: 13.8vw;
        height: 19.8vw;
        top: 30.49%;
        left: 65.25%;
    }
    
    #ten{
        width: 11.2vw;
        height: 15.8vw;
        top: 10.2%;
        left: 19.98%;
    }
    
    #eleven{
        width: 11.2vw;
        height: 15.5vw;
        top: 55.65%;
        left: 66.55%;
    }
    
    #twelve{
        width: 10.7vw;
        height: 15.69vw;
        top: 54.45%;
        left: 20.35%;
    }
    
    
    
    /* footer */
    footer{
        width: 100vw;
        height: 18.5vw;
        display: flex;
    }
    
    .container-top-footer .text-footer .h3{
        font-size: 2.4vw;
        margin-bottom: 0.8vw;
    }
    
    
    .container-top-footer .text-footer .contato-footer img{
        width: 6.4vw;
    }
    
    .container-top-footer .text-footer .contato-footer img:hover{
        width: 8vw;
    }

    .icons-footer img{
        width: 2.4vw;
        margin-top: 2.4vw;
        border-radius: 0.8vw;
        margin-right: 2.4vw;
        margin-bottom: 2.4vw;
    }

    
    
}