*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --white: #fff;
    --black: #000;
    --background-body: rgb(80, 80, 80);   
    --center-background: #FFFCE8;
    --footer-background: #8A817C;
}

body{
    margin: 0 auto;
    width: 100vw;
    background-color: #000;
    overflow-x: hidden;
}

main{
    width: 100vw;
}

/* header e container da dupla */
.container-top{
    width: 100vw;
    height: 64vw;
    position: relative;
    overflow: hidden;
}

.container-top .img-background{
    width: 100%;
    height: 64vw;
    filter: brightness(30%);
}

header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 5%;
}

.img-header{
    margin-top: 1.2vw;
}

.img-header img{
    width: 8vw;
}


.hidden{
    display: none;
}

.menu nav{
    display: flex;
    align-items: baseline;
}

.menu-animate{
    margin-right: 3.2vw;
    display: flex;
    align-items: center;
}

.violaoIcon img{
    width: 3.2vw;
}


.menu nav li{
    list-style: none;
}

.menu nav li a{
    color: var(--white);
    font-size: 1.5vw;
    font-family: 'Permanent Marker', cursive;
}



.background-tholy{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.background-tholy .icons{
    width: 22vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconsImgBlank{
    opacity: 0;
}

.background-tholy .icons img{
    width: 4vw;
    margin-bottom: 3.2vw;
}

.background-tholy .icons img:nth-child(1){
    filter: brightness(70%);
}

.background-tholy .icons img:nth-child(3){
    border-radius: 9px;
}

.background-tholy .icons img:hover{
    filter: brightness(150%);
}   
.background-tholy .image-dupla{
    width: 40vw;
    height: 36vw;
    overflow: hidden;
}

.background-tholy img{
    width: 40vw;
    filter: brightness(30%);
}


/* video */

.media{
    width: 100vw;
    height: 40vw;
    background-image: url(/images/sertanejo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.media .container-video-text{
    margin: 0 auto;
    width: 90%;
    height: 40vw;
    display: flex;
    align-items: center;
}

.videoPlayer{
    width: 56vw;
    height: 36vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoPlayer video{
    width: 40vw;
    height: 24v.9w;
    border-radius: 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    object-fit: cover;
}


/* texto ao lado do video */
.text-video{
    height: 36vw;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff; 
}

.text-video h2{
    font-size: 2.8vw;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
    text-align: center;
}

.text-video p{
    font-size: 2.1vw;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    /* text-transform: capitalize; */
    text-align: center;
}

.text-video h3{
    font-size: 2.4vw;
    font-weight: 400;
    margin-top: 4vw;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: capitalize;
    text-align: center;
}





/* footer */
footer{
    width: 100vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    justify-content: center;
}

.container-top-footer{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
}

.container-top-footer .text-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-top-footer .text-footer .container-left{
    display: flex;
    flex-direction: column;
}

.container-top-footer .text-footer .h3{
    font-size: 2.4vw;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
}

.container-top-footer .text-footer .contato-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-top-footer .text-footer .contato-footer img{
    width: 6.4vw;
    transition: 1s;
    cursor: pointer;
}

.container-top-footer .text-footer .contato-footer img:hover{
    width: 8vw;
}

.icons-footer{
    display: flex;
    align-items: center;
}

.icons-footer img{
    width: 2.4vw;
    margin-top: 2.4vw;
    border-radius: 9px;
    margin-right: 2.4vw;
    margin-bottom: 2.4vw;
    cursor: pointer;
}
