<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/headLogo.jpg" type="image/x-icon">

    <!-- script -->
    <script defer src="/js/historia.js"></script>

    <!-- style -->
    <link rel="stylesheet" href="/style/historia.css">
    <link rel="stylesheet" href="/style/responsiveHistoria.css">

    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Hachi+Maru+Pop&family=Hanalei&family=Open+Sans+Condensed:ital,wght@1,300&family=Sacramento&display=swap"
        rel="stylesheet">


    <title>Leo & Mateus</title>
</head>

<body>

    <main>

        <div class="container-top">

            <header>

                <div class="img-header">

                    <img id="logo" src="/images/logo.png" alt="logo">

                </div>

                <div class="menu">

                    <nav>

                        <div class="menu-animate">

                            <span class="violaoIcon hidden"> <img src="/images/violaoIcon.png"
                                    alt="Violao-Icone"></span>
                            <li><a class="activeIcon">História</a></li>

                        </div>

                        <div class="menu-animate">

                            <span class="violaoIcon hidden"> <img src="/images/violaoIcon.png"
                                    alt="Violao-Icone"></span>
                            <li><a href="/contato" class="activeIcon">Contato</a></li>

                        </div>


                        <div class="menu-animate">

                            <span class="violaoIcon hidden"> <img src="/images/violaoIcon.png"
                                    alt="Violao-Icone"></span>
                            <li><a href="/galeria" class="activeIcon">Galeria</a></li>

                        </div>

                    </nav>


                </div>


            </header>

        </div>

        <div class="container-center">

            <div class="historia">

                <div class="container-history-top">

                    <div class="a-dupla">

                        <h2>Dupla De Irmãos</h2>

                    </div>

                    <div class="text-and-image">

                        <img src="/images/leoEMateus.jpeg" alt="Dupla De Irmãos">

                        <p>Dupla De irmãos do interior do Estado de São Paulo para todo o Brasil.
                            Com o intuito incial de poder levar algo contagiante para todas as pessoas da região
                            os irmãos iniciaram sua jornada jovens, mais com um potencial extraordinário.
                            Conheceram um grupo de pessoas que diretamente tem entrado em contato com eles para poder
                            levar aos seus estabelicimentos, festas, muita alegria, felicidade e alto astral. Uma Dupla
                            Sertaneja
                            raiz que trás grandes sucessos atuais e antigos do nosso sertanejo universitário e
                            o tradicional modão Raiz.
                        </p>

                    </div>
                </div>

                <div class="container-center-one">


                    <div class="leo">

                        <h2>Leo</h2>

                    </div>

                    <div class="text-and-image-leo">

                        <p>Dupla De irmãos do interior do Estado de São Paulo para todo o Brasil.
                            Com o intuito incial de poder levar algo contagiante para todas as pessoas da região
                            os irmãos iniciaram sua jornada jovens, mais com um potencial extraordinário.
                            Conheceram um grupo de pessoas que diretamente tem entrado em contato com eles para poder
                            levar aos seus estabelicimentos, festas, muita alegria, felicidade e alto astral. Uma Dupla
                            Sertaneja
                            raiz que trás grandes sucessos atuais e antigos do nosso sertanejo universitário e
                            o tradicional modão Raiz.
                        </p>

                        <figure>

                            <img src="/images/IrmaoTholy.jpeg" alt="Leo">
                            <figcaption>Leo</figcaption>

                        </figure>

                    </div>

                </div>


                <div class="container-center-two">


                    <div class="mateus">

                        <h2>Mateus</h2>

                    </div>

                    <div class="text-and-image-mateus">

                        <figure>

                            <img src="/images/tholyViolao.jpeg" alt="Mateus">
                            <figcaption>Mateus</figcaption>

                        </figure>


                        <p>Mateus desde pequeno sempre gostou de ouvir músicas sertanejas aonde foi crescendo
                            e se desenvolvendo não apenas escutando, mais sim praticando no ato a tocar violão
                            juntamente
                            com seu pai e avô que sempre o instruiu em toda a jornada com dedicação. Hoje com 24
                            anos, sendo 14 anos de vivência com a música segue em frente com seu Irmão Leonardo,
                            formando
                            essa Dupla Maravilhosa que contagia a todos por onde passa.
                        </p>


                    </div>

                </div>


                <div class="container-bottom">


                    <div class="apoiadores">

                        <h2>Apoiadores</h2>

                    </div>

                    <div class="text-apoiadores">


                        <p>Dupla tem como principal apoiador/incentivador, seus pais e familiares que sempre
                            os ajudaram em toda a caminhada por onde passaram sempre prestigiando e se
                            orgulhando da Dupla. Atualmente barzinhos, restaurantes e outros lugares aonde
                            passaram tem chamado muito atenção pela qualidade musical que proporcionam, fascinando
                            a todos com suas melodias.
                        </p>


                    </div>

                    <div class="imagens-apoiadores">


                    </div>

                </div>


            </div>

        </div>

        </div>

    </main>

    <footer>

        <div class="container-top-footer">

            <div class="text-footer">

                <div class="container-left">

                    <h3 class="h3">Entre em contato conosco e a festa é com a gente. O melhor show da REGIÂO!</h3>

                    <div class="icons-footer">

                        <img class="iconsFooter" src="/images/facebook.svg" alt="Facebook">

                        <img class="iconsFooter" src="/images/instagram.svg" alt="Instagram">

                        <img class="iconsFooter" src="/images/twitter.svg" alt="Twitter">

                        <img class="iconsFooter" src="/images/youtube.svg" alt="Youtube">

                        <img class="iconsFooter" src="/images/whatsapp.svg" alt="Whatsapp">

                    </div>



                    <h3 class="h3 remove">Todos os direitos reservados.</h3>

                </div>

                <div class="contato-footer">

                    <h3 class="h3">Leo & Mateus</h3>

                    <img id="footer-img-logo" src="/images/logo.png" alt="Logo">

                    <h4 id="direitos" class="clean">Todos os direitos reservados.</h4>

                </div>

            </div>

        </div>


    </footer>


</body>

</html>